<div class="card-panel teal">
    <span class="white-text">
        <a href={{this.link}}>{{this.title}}</a> 
        {{this.summary}}

    </span>
    <button class="unsave-article" data-id="{{this.id}}">
        Remove From Saved
    </button>
    <button class="add-note" data-id="{{this.id}}">
        Add a Comment
    </button>
</div>